.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  padding-top: 40px;
  border-top: var(--main-border);
}
.user-component__subtitle {
  margin-top: 5px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 600;
}

.user-component__text i {
  color: red;
  opacity: 65%;
}
.more-suggestions__icons {
  display: flex;
  margin-top: 10px;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
.screen-header a {
  color: black;
}
